@font-face {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./fonts/sen-regular.woff2') format('woff2'),
         url('./fonts/sen-regular.woff') format('woff');
}

.panel {
    font-family: 'Sen', sans-serif;
    font-size: 14px;
}

.tabs {
    overflow: hidden;
}


.btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #666;
    border: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}
.btn:hover {
    background-color: #777;
}
.btn:focus {
    outline: none;
}

.btn::-moz-focus-inner {
    border: 0;
}

.tabs > .tab-buttons {
    display: flex;
}

.tabs > .tab-buttons .btn {
    flex: auto;
    width: auto;
    color: #fff;
    background-color: transparent;
    font-family: 'Sen', sans-serif;
    font-size: 14px;
    padding: 3px 5px;
}

.tabs > .tab-buttons .btn.active {
    background-color: #444;
    border-radius: 3px 3px 0px 0px;
}

.tabs .tab-panels > .panel {
    display: none;
    padding: 3px;
    width: 250px;
    border-radius: 3px 3px 3px 3px;
}

.tabs .tab-panels > .panel.active {
    display:block;
    background-color: #444;
}

.tabs .tab-panels > .panel:first-child {
    border-top-left-radius: 0px;
}

.tabs .tab-panels > .panel:last-child {
    border-top-right-radius: 0px;
}

.list {
    background-color: #333;
    border-radius: 2px;
    padding: 5px;
    list-style-type: none;
}

.list.top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list.bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list .list-item {
    padding: 3px 5px;
}

.button-group {
    display: flex;
}

.button-group .btn {
    flex: auto;
    width: auto;
    box-sizing: border-box;
    background-color: #666;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-right: 1px;
    border-radius: 0px;
}
/*.button-group.icons .btn {
    font-size: 16px;
}*/

.button-group .btn:hover {
    background-color: #777;
}

.button-group .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.button-group .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 0px;
}

.button-group.bottom .btn:first-child {
    border-top-left-radius: 0px;
}
.button-group.bottom .btn:last-child {
    border-top-right-radius: 0px;
}

.button-group.top .btn:first-child {
    border-bottom-left-radius: 0px;
}
.button-group.top .btn:last-child {
    border-bottom-right-radius: 0px;
}

/*.button-group.bottom .btn, .button-group.top .btn {
    padding: 3px 10px;
}*/


.fieldset {
    border: 1px solid #333;
    border-radius: 3px;
    margin: 0px 2px 5px 2px;
    padding: 5px;
}
.fieldset legend {
    color: #aaa;
}

.fieldset legend .arrow {
    color: #333;
}