@font-face {
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/cabincondensed-bold-digits.woff2') format('woff2'),
         url('./fonts/cabincondensed-bold-digits.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/robotomono-bold-digits.woff2') format('woff2'),
         url('./fonts/robotomono-bold-digits.woff') format('woff');
}

.board
{
    text-align:             center;
    display:                grid;
    grid-template-columns:  repeat(9, auto);
    vertical-align:         middle;
    background:             #666;
    border-radius:          0.1875rem;
    cursor:                 default;
    -webkit-user-select:    none;
    -moz-user-select:       none;
    -ms-user-select:        none;
    user-select:            none;
    overflow:               hidden;
}

.board .cell
{
    background:         #f8f8f8;
    position:           relative;
    width:              4rem;
    height:             4rem;
    margin-right:       0.0625rem;
    margin-bottom:      0.0625rem;
    transition:         background-color 250ms ease;
    transition-delay:   100ms;
}

/* Separate grid boxes (columns and rows 3 and 6) */
.board .cell.c3, .board .cell.c6 { margin-right:    0.3125rem; }
.board .cell.r3, .board .cell.r6 { margin-bottom:   0.3125rem; }

/* Remove borders and margins on the last column and row */
.board .cell.c9 { margin-right:     0; border-right:    0; } 
.board .cell.r9 { margin-bottom:    0; border-bottom:   0; }




.board .cell > div
{
    position:   absolute;
    width:      100%;
    height:     100%;
}

.board .static.cell .notes
{ 
    display: none;
}

.board .editable.cell .notes
{
    display:                grid;
    grid-template-columns:  repeat(3, auto);
    grid-template-rows:     repeat(3, 1fr);
}



.board .cell > .value
{
    color:          #333;
    font-family:    'Cabin Condensed', sans-serif;
    font-size:      2.625rem;
    line-height:    4rem;
}

.board .static.cell > .value
{
    border:             0.0625rem solid #bababa;
    border-radius:      0.1875rem;
    line-height:        2.75rem;
    height:             2.8125rem;
    width:              2.8125rem;
    margin:             0.5rem;
    background-color: #ddd;
}


.board .editable.cell .notes .candidate
{
    box-sizing:                 border-box;
    color:                      rgba(187,187,187,0);
    font-family:                'Roboto Mono', monospace;
    font-size:                  0.8125rem;
    line-height:                1.25rem;
    border-right:               0.0625rem solid rgba(187,187,187,0);
    border-bottom:              0.0625rem solid rgba(187,187,187,0);
    transition-property:        color, border;
    transition-duration:        250ms;
    transition-timing-function: ease;
}

/* Mouse pointer candidate picker styles */
.board .editable.cell .notes:hover .candidate
{
    color:          rgba(166,166,166,1);
    border-right:   0.0625rem solid rgba(187,187,187,1);
    border-bottom:  0.0625rem solid rgba(187,187,187,1);
}

.board .editable.cell .notes .candidate:hover
{
    color: rgba(255, 113, 0, 1);
}

.board .editable.cell .notes       .selected.candidate,
.board .editable.cell .notes:hover .selected.candidate
{
    color: #666;
}




/* Cursor and Highlight Styles */
.board .highlight.cell
{
    background-color:   #eaeaea;
    transition:         background-color 250ms ease;
}
.board .cursor.cell
{
    background-color: #ccc;
}
.board .static.cursor.cell .value
{
    border-color: #999;
    /*background-color: #eaeaea;*/
}
/* Darken the following values to make up for the darker
 * cursor background color */
.board .editable.cursor.cell .notes:hover .candidate
{
    color:          rgba(128,128,128,1);
    border-right:   0.0625rem solid rgba(166,166,166,1);
    border-bottom:  0.0625rem solid rgba(166,166,166,1);
}
.board .editable.cursor.cell .notes .candidate:hover
{
    color: rgba(255, 64, 0, 1);
}
.board .editable.cursor.cell .notes       .selected.candidate,
.board .editable.cursor.cell .notes:hover .selected.candidate
{
    color: #333;
}




/* Invalid Styles */
.board .editable.cell .invalid.value,
.board .editable.cell .notes       .invalid.selected.candidate,
.board .editable.cell .notes:hover .invalid.selected.candidate
{
    color: #C90014;
}
.board .editable.cell > .invalid.value
{
    background-image: linear-gradient(
        -135deg,
        transparent 0.5rem, 
        #C90014   0.5rem,
        #C90014   0.9375rem,
        transparent 0.9375rem,
        transparent 4rem
    );
}
.board .static.cell > .invalid.value
{
    background-color: #F2DFD5;
    border:             0.125rem solid #C90014;
    border-radius:      0.1875rem;
    line-height:        2.625rem;
    height:             2.6875rem;
    width:              2.6875rem;
}






.board .hidden
{
    display: none !important;
}





.last-column, .c9 { margin-right:   0 !important; border-right:     0 !important; } 
.last-row, .r9 {    margin-bottom:  0 !important; border-bottom:    0 !important; }
