@font-face
{
    font-family: 'Cabin Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/cabincondensed-bold-digits.woff2') format('woff2'),
         url('./fonts/cabincondensed-bold-digits.woff') format('woff');
}

@font-face
{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/robotomono-bold-digits.woff2') format('woff2'),
         url('./fonts/robotomono-bold-digits.woff') format('woff');
}

:root {
    --yaws-scale: 1;

    --yaws-board-spacer-color:          #666;
    --yaws-board-border:                calc(0.1875rem * var(--yaws-scale)) solid #222;
    --yaws-board-border-outer-radius:   calc(0.25rem * var(--yaws-scale));
    --yaws-board-border-inner-radius:   calc(0.125rem * var(--yaws-scale));

    --yaws-box-spacer-size: calc(0.1875rem * var(--yaws-scale));

    --yaws-cell-bg-color:           #f8f8f8;
    --yaws-cell-width:              calc(2rem * var(--yaws-scale));
    --yaws-cell-height:             var(--yaws-cell-width);
    --yaws-cell-spacer-size:        0.0625rem;
    --yaws-cell-value-color:        #333;
    --yaws-cell-value-font-family:  'Cabin Condensed', sans-serif;
    --yaws-cell-value-font-size:    calc(1.3125rem * var(--yaws-scale));
    --yaws-cell-value-line-height:  calc(2rem * var(--yaws-scale));

    --yaws-cell-static-marker-border:           0.0625rem solid #bababa;
    --yaws-cell-static-marker-border-radius:    calc(0.125rem * var(--yaws-scale));
    --yaws-cell-static-marker-line-height:      calc(1.375rem * var(--yaws-scale));
    --yaws-cell-static-marker-width:            calc(1.5rem * var(--yaws-scale));
    --yaws-cell-static-marker-height:           var(--yaws-cell-static-marker-width);
    --yaws-cell-static-marker-margin:           calc(0.25rem * var(--yaws-scale));
    --yaws-cell-static-marker-bg-color:         #ddd;

    --yaws-cell-invalid-value-color:    #C90014;
    --yaws-cell-invalid-value-bg-image: linear-gradient(
        -135deg,
        transparent                             calc(0.25rem * var(--yaws-scale)), 
        var(--yaws-cell-invalid-value-color)    calc(0.25rem * var(--yaws-scale)),
        var(--yaws-cell-invalid-value-color)    calc(0.46875rem * var(--yaws-scale)),
        transparent                             calc(0.46875rem * var(--yaws-scale)),
        transparent                             calc(2rem * var(--yaws-scale))
    );

    --yaws-cell-static-marker-invalid-bg-color:             #F2DFD5;
    --yaws-cell-static-marker-invalid-border-color:         var(--yaws-cell-invalid-value-color);
    --yaws-cell-static-marker-invalid-border-width:         calc(0.0625rem * var(--yaws-scale));
    --yaws-cell-static-marker-invalid-value-line-height:    calc(1.3125rem * var(--yaws-scale));

    --yaws-candidate-font-size-min: 0.625rem;
    --yaws-candidate-font-size-max: 0.8125rem;
    --yaws-candidate-font-size:     calc(
        var(--yaws-candidate-font-size-min)
        + (var(--yaws-candidate-font-size-max) - var(--yaws-candidate-font-size-min))
        * (var(--yaws-scale) - 1)
    );

    --yaws-candidate-font-family:   'Roboto Mono', monospace;

    --yaws-control-panel-button-color:      #333;
    --yaws-control-panel-button-bg-color:   #eaeaea;
    --yaws-control-panel-button-width:      calc(1.5rem * var(--yaws-scale));

    --yaws-control-panel-button-width-min: 2.25rem;
    --yaws-control-panel-button-width-max: 3.5rem;
    --yaws-control-panel-button-width: calc(
        var(--yaws-control-panel-button-width-min)
        + (var(--yaws-control-panel-button-width-max) - var(--yaws-control-panel-button-width-min))
        * (var(--yaws-scale) - 1)
    );
    --yaws-control-panel-button-height:         var(--yaws-control-panel-button-width);
    --yaws-control-panel-button-icon-width:     calc(var(--yaws-control-panel-button-width)/2);
    --yaws-control-panel-button-icon-height:    var(--yaws-control-panel-button-icon-width);

    --yaws-control-panel-button-line-height:    calc(var(--yaws-control-panel-button-height) - 0.125rem);
    --yaws-control-panel-button-border:         0.0625rem solid #bababa;
    --yaws-control-panel-button-border-radius:  calc(0.125rem * var(--yaws-scale));

    --yaws-control-panel-button-value-font-family:      'Cabin Condensed', sans-serif;
    --yaws-control-panel-button-value-font-size:        calc(1.3125rem * var(--yaws-scale));

    --yaws-control-panel-button-candidate-font-family: 'Roboto Mono', monospace;
    --yaws-control-panel-button-candidate-font-size:    calc(var(--yaws-control-panel-button-value-font-size)/2);

    --yaws-control-panel-button-clear-color:            #eaeaea;
    --yaws-control-panel-button-clear-bg-color:         #222;
    --yaws-control-panel-button-clear-border-color:     #222;
}

.yaws
{
    display:            flex;
    flex-flow:          column nowrap;
    align-items:        center;
    justify-content:    center;

    cursor:                 default;
    -webkit-user-select:    none;
    -moz-user-select:       none;
    -ms-user-select:        none;
    user-select:            none;
}

.yaws .board
{
    flex-grow:              0;
    text-align:             center;
    display:                grid;
    grid-template-columns:  repeat(9, auto);
    vertical-align:         middle;
    background:             var(--yaws-board-spacer-color);
    border:                 var(--yaws-board-border);
    border-radius:          var(--yaws-board-border-outer-radius);
}

.yaws .board .cell
{
    position:           relative;
    background:         var(--yaws-cell-bg-color);
    width:              var(--yaws-cell-width);
    height:             var(--yaws-cell-height);
    margin-right:       var(--yaws-cell-spacer-size);
    margin-bottom:      var(--yaws-cell-spacer-size);
    transition:         background-color 250ms ease;
    transition-delay:   100ms;
}

/* Apply board inner radius to corner cells -- alternate way of doing this involves settings 
 * the overflow property on the board, but that causes problems with small viewport sizes 
 */
.yaws .board .cell.c1.r1 { border-top-left-radius:        var(--yaws-board-border-inner-radius) ;}
.yaws .board .cell.c9.r1 { border-top-right-radius:       var(--yaws-board-border-inner-radius) ;}
.yaws .board .cell.c1.r9 { border-bottom-left-radius:     var(--yaws-board-border-inner-radius) ;}
.yaws .board .cell.c9.r9 { border-bottom-right-radius:    var(--yaws-board-border-inner-radius) ;}

/* Separate grid boxes (columns and rows 3 and 6) */
.yaws .board .cell.c3, .board .cell.c6 { margin-right:    var(--yaws-box-spacer-size) }
.yaws .board .cell.r3, .board .cell.r6 { margin-bottom:   var(--yaws-box-spacer-size) }

/* Remove borders and margins on the last column and row */
.yaws .board .cell.c9 { margin-right:     0; border-right:    0; } 
.yaws .board .cell.r9 { margin-bottom:    0; border-bottom:   0; }

.yaws .board .cell > div
{
    position:   absolute;
    width:      100%;
    height:     100%;
}

.yaws .board .static.cell .notes
{ 
    display: none;
}

.yaws .board .editable.cell .notes
{
    display:                grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows:     repeat(3, 1fr);
}

.yaws .board .cell > .value
{
    color:          var(--yaws-cell-value-color);
    font-family:    var(--yaws-cell-value-font-family);
    font-size:      var(--yaws-cell-value-font-size);
    line-height:    var(--yaws-cell-value-line-height);
}

.yaws .board .static.cell > .value
{
    box-sizing:         border-box;
    border:             var(--yaws-cell-static-marker-border);
    border-radius:      var(--yaws-cell-static-marker-border-radius);
    line-height:        var(--yaws-cell-static-marker-line-height);
    height:             var(--yaws-cell-static-marker-height);
    width:              var(--yaws-cell-static-marker-width);
    margin:             var(--yaws-cell-static-marker-margin);
    background-color:   var(--yaws-cell-static-marker-bg-color);
}

.yaws .board .editable.cell .notes .candidate
{
    /*box-sizing:                 border-box;*/
    width:                      calc(0.625rem * var(--yaws-scale));
    height:                     calc(0.625rem * var(--yaws-scale));
    line-height:                calc(0.625rem * var(--yaws-scale));
    color:                      rgba(187,187,187,0);
    font-family:                'Roboto Mono', monospace;
    font-size:                  var(--yaws-candidate-font-size);
    border-right:               0.0625rem solid rgba(187,187,187,0);
    border-bottom:              0.0625rem solid rgba(187,187,187,0);
    transition-property:        color, border;
    transition-duration:        250ms;
    transition-timing-function: ease;
}

/* Mouse pointer candidate picker styles */
.yaws .board .editable.cell .notes:hover .candidate
{
    color:          rgba(166,166,166,1);
    border-right:   0.0625rem solid rgba(187,187,187,1);
    border-bottom:  0.0625rem solid rgba(187,187,187,1);
}

.yaws .board .editable.cell .notes .candidate:hover
{
    color: rgba(255, 113, 0, 1);
}

.yaws .board .editable.cell .notes       .selected.candidate,
.yaws .board .editable.cell .notes:hover .selected.candidate
{
    color: #666;
}




/* Cursor and Highlight Styles */
.yaws .board .highlight.cell
{
    background-color:   #eaeaea;
    transition:         background-color 250ms ease;
}
.yaws .board .cursor.cell
{
    background-color: #ccc;
}
.yaws .board .static.cursor.cell .value
{
    border-color: #999;
    /*background-color: #eaeaea;*/
}
/* Darken the following values to make up for the darker
 * cursor background color */
.yaws .board .editable.cursor.cell .notes:hover .candidate
{
    color:          rgba(128,128,128,1);
    border-right:   0.0625rem solid rgba(166,166,166,1);
    border-bottom:  0.0625rem solid rgba(166,166,166,1);
}
.yaws .board .editable.cursor.cell .notes .candidate:hover
{
    color: rgba(255, 64, 0, 1);
}
.yaws .board .editable.cursor.cell .notes       .selected.candidate,
.yaws .board .editable.cursor.cell .notes:hover .selected.candidate
{
    color: #333;
}




/* Invalid Styles */
.yaws .board .editable.cell .invalid.value,
.yaws .board .editable.cell .notes       .invalid.selected.candidate,
.yaws .board .editable.cell .notes:hover .invalid.selected.candidate
{
    color: var(--yaws-cell-invalid-value-color);
}
.yaws .board .editable.cell > .invalid.value
{
    background-image: var(--yaws-cell-invalid-value-bg-image);
}
.yaws .board .static.cell > .invalid.value
{
    background-color:   var(--yaws-cell-static-marker-invalid-bg-color);
    border-color:       var(--yaws-cell-static-marker-invalid-border-color);
    border-width:       var(--yaws-cell-static-marker-invalid-border-width);
    line-height:        var(--yaws-cell-static-marker-invalid-value-line-height);
}

.yaws .board .hidden
{
    display: none !important;
}

.yaws .last-column, .c9 { margin-right:   0 !important; border-right:     0 !important; } 
.yaws .last-row, .r9    { margin-bottom:  0 !important; border-bottom:    0 !important; }






.yaws .control-panel
{
    display: grid;
    gap: calc(1rem * var(--yaws-scale));
}

.yaws .control-panel .values,
.yaws .control-panel .candidates
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(0.25rem * var(--yaws-scale));
}

/*
.yaws .control-panel,
.yaws .control-panel .values,
.yaws .control-panel .candidates {
    gap: calc(0.25rem * var(--yaws-scale));
}*/

.yaws .control-panel .candidates  { grid-area: candidates }
.yaws .control-panel .values      { grid-area: values }
.yaws .control-panel .btn-clear   { grid-area: clear }

.yaws .control-panel button
{
    box-sizing:         border-box;
    width:              var(--yaws-control-panel-button-width);
    height:             var(--yaws-control-panel-button-height);
    border:             var(--yaws-control-panel-button-border);
    border-radius:      var(--yaws-control-panel-button-border-radius);
    color:              var(--yaws-control-panel-button-color);
    background-color:   var(--yaws-control-panel-button-bg-color);
    line-height:        var(--yaws-control-panel-button-line-height);
    display:            inline-flex;
    align-items:        center;
    justify-content:    center;
}

.yaws .control-panel .candidates button
{
    padding:            10%;
    font-size:          var(--yaws-control-panel-button-candidate-font-size);
    font-family:        var(--yaws-control-panel-button-candidate-font-family);
    line-height:        calc(var(--yaws-control-panel-button-line-height)/3);
}

.yaws .control-panel .values button
{
    font-family:        var(--yaws-control-panel-button-value-font-family);
    font-size:          var(--yaws-control-panel-button-value-font-size);
}

.yaws .control-panel .btn-clear
{
    color:              var(--yaws-control-panel-button-clear-color);
    border-color:       var(--yaws-control-panel-button-clear-border-color);
    background-color:   var(--yaws-control-panel-button-clear-bg-color);
}

.yaws .control-panel .btn-clear .icon
{
    fill:   var(--yaws-control-panel-button-clear-color);
    width:  var(--yaws-control-panel-button-icon-width);
    height: var(--yaws-control-panel-button-icon-height);
}

.yaws .control-panel .candidates .left      { justify-content:  left; }
.yaws .control-panel .candidates .center    { justify-content:  center; }
.yaws .control-panel .candidates .right     { justify-content:  right; }
.yaws .control-panel .candidates .top       { align-items:      flex-start; }
.yaws .control-panel .candidates .middle    { align-items:      center; }
.yaws .control-panel .candidates .bottom    { align-items:      flex-end; }

@media (orientation: landscape)
{
    .yaws
    {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .yaws .control-panel
    {
        /*margin-left: 2rem;*/
        grid-template-areas:
            'values'
            'clear'
            'candidates';
    }

    .yaws .control-panel .values,
    .yaws .control-panel .candidates
    {
        flex-flow: column nowrap;
    }

    .yaws .control-panel .btn-clear
    {
        width: 100%;
    }
}

@media (orientation: portrait)
{
    .yaws
    { 
        flex-direction: column;
    }

    .yaws .control-panel
    {
        margin-top: 2rem;
        grid-template-areas:
            'values clear candidates'
    }

    .yaws .control-panel .values,
    .yaws .control-panel .candidates
    {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    .yaws .control-panel .btn-clear
    {
        height: 100%;
    }
}