<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aw Yaws - Yet Another Web Sudoku</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
        <meta name="description" content="Sudoku puzzle generator for all your devices.">
        
        <link rel="preload" href="<%= require('@components/view/fonts/cabincondensed-bold-digits.woff2').default %>" 
            as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="<%= require('@components/view/fonts/robotomono-bold-digits.woff2').default %>" 
            as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="<%= require('@components/view/images/icons.svg').default %>" as="image" 
            type="image/svg+xml" crossorigin>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /> -->

        <link rel="canonical" href="https://sudoku.nxn.io/" />
    </head>
    <body>
            <div id="sudoku"></div>
    </body>
</html>
