*
{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body
{
    background: #fff;
    padding: 20px;
}

#sudoku
{
    background-color: #222;
    overflow: auto;
    border-radius: 5px;
    padding: 5px;
    width: 853px;
    margin: 0 auto;
}

#sudoku > div
{
    float: left;
}
