:root 
{
    --white:            #fff;
    --almost-white:     #efefef;
    --black:            #000;
    --almost-black:     #222;
    --gray:             #444;
    --red:              #941223;
    --accent:           rgb(255, 161, 85);
    --link-color:       #29302d;
    --link-hover-color: #767D75;
    /* --board-min-width: 53.9375rem;  expanded tools */
    --board-min-width: 37rem;
    --page-min-width: calc(var(--board-min-width) + 0.625rem); /* 5px border around sudoku board */
    --page-margin: calc(((100vw - var(--page-min-width)) / 2 * 0.25) + 1.1875rem);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('fonts/AmaticSC-Regular.woff2') format('woff2'),
        url('fonts/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Amatic SC';
    src: url('fonts/AmaticSC-Bold.woff2') format('woff2'),
        url('fonts/AmaticSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    line-height: 1em;
    padding: 0;
    color: var(--almost-white);
    background-color: var(--gray);
    text-align: center;
    flex-grow: 1;
    border: 2rem solid var(--white);
    border-image-source: url('images/border.svg');
    border-image-slice: 25% 9%;
}

h1 .accent {
    color: var(--accent);
}

h2 {
    color: var(--almost-black);
    background-color: var(--almost-white);
    padding: 0.25rem 1rem;
    font-size: 2rem;
    line-height: 1em;
    border: solid 0.125rem var(--gray);
    border-top-left-radius: 100% 0.5rem;
    border-top-right-radius: 75% 0.5rem;
    border-bottom-right-radius: 75% 15%;
    border-bottom-left-radius: 1rem 100%;
}
h2.alt {
    color: var(--almost-white);
    background: var(--gray);
    border-color: var(--black);
}
h2.warn {
    color: var(--white);
    background-color: var(--red);
    border-color: var(--almost-black);
}

a {
    color: var(--link-color)
}
a:hover {
    color: var(--link-hover-color)
}

#page {
    font-family: 'Roboto Slab', serif;
    line-height: 1.5em;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 3rem 1rem;
}

#logo {
    width: 11rem;
    padding-bottom: 1rem;
    fill: var(--almost-black);
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1rem;
    margin-bottom: 3rem;
}

section {
    break-inside: avoid;
}

section p {
    padding: 1rem;
}

section ul {
    padding-left: 2rem;
    padding-bottom: 1rem;
}
section li {
    padding-left: 0.5rem;
}

#sudoku {
    margin-bottom: 5rem;
    text-align: center;
}

@media (min-width: 40rem) {
    #header, .content-grid {
        margin: 2rem var(--page-margin);
        min-width: var(--page-min-width);
    }

    #header {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    .content-grid {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        margin-left: 3rem;
    }
}